body{
    background-image: url('./img/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sobre_mi{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;  
    height: 88vh;  
    
}

.sobre_mi img{
    width: 30%;
    margin-left: 5%;
}
.sobre_mi__nombre{
    margin-bottom: 150px;
    margin-right: 50px;

}


.sobre_mi__nombre h2{
    line-height: 50px;
    font-size: 54px;
    margin-bottom: 10px;
}

.sobre_mi__nombre p{
    font-size: 24px;
}